<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <!--
             Please adjust the connection string embedded in the element below to target the proper catalog / server using the proper user / password combination
             If you use a differently named adventure works database, be sure to change the initial catalog descriptions in the connection strings below.
        -->
        <add name="AdventureWorks.ConnectionString.SQL Server (System.Data.SqlClient)" connectionString="data source=sqlserver.test.local;initial catalog=AdventureWorks;User Id=mightytests;Password=testpassword;persist security info=False;packet size=4096" providerName="System.Data.SqlClient" />
        <add name="MassiveWriteTests.ConnectionString.SQL Server (System.Data.SqlClient)" connectionString="data source=sqlserver.test.local;initial catalog=MassiveWriteTests;User Id=mightytests;Password=testpassword;persist security info=False;packet size=4096" providerName="System.Data.SqlClient" />

        <add name="AdventureWorks.ConnectionString.SQL Server (Microsoft.Data.SqlClient)" connectionString="data source=sqlserver.test.local;initial catalog=AdventureWorks;User Id=mightytests;Password=testpassword;persist security info=False;packet size=4096;Encrypt=false" providerName="Microsoft.Data.SqlClient" />
        <add name="MassiveWriteTests.ConnectionString.SQL Server (Microsoft.Data.SqlClient)" connectionString="data source=sqlserver.test.local;initial catalog=MassiveWriteTests;User Id=mightytests;Password=testpassword;persist security info=False;packet size=4096;Encrypt=false" providerName="Microsoft.Data.SqlClient" />

        <add name="ReadWriteTests.ConnectionString.SQLite" connectionString="Data Source=C:\Users\mjsbeaton\Documents\ChinookDatabase1.4_Sqlite\Chinook_Sqlite_AutoIncrementPKs.sqlite;Version=3;" providerName="System.Data.SQLite" />

        <!-- "Enlist=true;" required only to enable TransactionScope support -->
        <add name="Northwind.ConnectionString.PostgreSql (Npgsql)" connectionString="Database=northwind;Server=localhost;Port=5432;User Id=postgres;Password=banana;Enlist=true;" providerName="Npgsql" />

        <add name="Scott.ConnectionString.Oracle (Oracle.ManagedDataAccess.Client)" connectionString="data source=oravirtualnerd;user id=SCOTT;password=TIGER;persist security info=false;" providerName="Oracle.ManagedDataAccess.Client" />
        <add name="Scott.ConnectionString.Oracle (Oracle.DataAccess.Client)" connectionString="data source=oravirtualnerd;user id=SCOTT;password=TIGER;persist security info=false;" providerName="Oracle.DataAccess.Client" />

        <!-- Important: attempts to execute stored procedures against the database fail unless the database name is all lower case (affects Oracle/MySQL driver but not Devart driver) -->
        <add name="Sakila.ConnectionString.MySql (MySql.Data.MySqlClient)" connectionString="data source=mysqltest;database=sakila;user id=Massive;password=mt123;persist security info=false;" providerName="MySql.Data.MySqlClient" />
        <add name="Sakila.ConnectionString.MySql (MySql.Data.MySqlClient;AllowUserVariables=true)" connectionString="data source=mysqltest;database=sakila;user id=Massive;password=mt123;persist security info=false;AllowUserVariables=true;" providerName="MySql.Data.MySqlClient" />
        <add name="MassiveWriteTests.ConnectionString.MySql (MySql.Data.MySqlClient)" connectionString="data source=mysqltest;database=massivewritetests;user id=Massive;password=mt123;persist security info=false;" providerName="MySql.Data.MySqlClient" />

        <add name="Sakila.ConnectionString.MySql (Devart.Data.MySql)" connectionString="data source=mysqltest;database=Sakila;user id=Massive;password=mt123;persist security info=false;" providerName="Devart.Data.MySql" />
        <add name="MassiveWriteTests.ConnectionString.MySql (Devart.Data.MySql)" connectionString="data source=mysqltest;database=MassiveWriteTests;user id=Massive;password=mt123;persist security info=false;" providerName="Devart.Data.MySql" />
    </connectionStrings>
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SQLite" />
            <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.111.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
        </DbProviderFactories>
    </system.data>
</configuration>
